doctype html
html
  head
    link(rel="stylesheet", href="./style.css")
    title paper.js test
  body
    .file
      button(id="load-default") Load Default
      input(id="file", type="file")
    //- canvas(id="myCanvas")
    .wrapper
      .search
        input(name="search",type="text", placeholder="검색")
        label(for="search") 검색
        .search-selection
          .first-bar 초성
          .first
          .second-bar 중성
          .second
          .third-bar 종성
          .third
      .info
//- script(type='text/javascript',src="draw2.js")
script(type='text/javascript',src="drawfont.js")
