doctype html
html
  head
    link(rel="stylesheet", href="./style.css")
    title paper.js test
  body
    //- canvas(id="myCanvas")
    input(id="file", type="file")
script(type='text/javascript',src="draw2.js")
script(type='text/javascript',src="drawfont.js")
