.index-selected {
  background-color: var(--color4);
  border: gray 1px solid;
  transition: all .3s;
}

.search-selection .index-button:hover{
  background-color: var(--color3);
  border: gray 1px solid;
}

.search-selection .index-button{
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 80%;
  border: var(--none) 1px solid;
}
.search-selection .index{
  /* border: var(--light-border) solid 1px; */
  grid-template-columns: auto auto auto auto auto auto auto;
  display: grid;
}
.search-selection .bar{
  height: 45px;
  text-align: left;
  padding-left: 15px;
  align-content: center;
  line-height: 45px;
}

.search{
  border: none;
  border-bottom: 2px solid var(--light-border);
  box-shadow: none;
  min-height: 25px;
  outline: none;
  transition: all .3s;
  width: 90%;
  margin: 5px;
  padding: 5px;
  background-color: var(--none);
}

.main-canvas{
  background-color: var(--color0);
}

.menu-right{
  background-color: var(--color1);
  filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.3));
}

.menu-left{
  background-color: var(--color1);
  filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.3));
}

.main-wrapper{
  display: grid;
  grid-template-columns: 270px auto 350px;
  width: 100%;
  height: auto;
  align-items: stretch;
}

.nav-wrapper .brand-logo{
  justify-self: left;
}
.nav-wrapper ul{
  justify-self: right;
}
.nav-wrapper ul li {
  display: inline;
}
.nav-wrapper{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  height: 50px;
  z-index: 2;
  background-color: var(--color5);
  filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.5));
}

body div{
  /* background-color: #333; */
}


body{
  margin: 0px;
  display: grid;
  grid-template-rows: 50px auto;
  /* align-items: center;
  justify-content: center; */

  color: gray;
  text-align: center;
  width:100vw;
  height:100vh;

  font-family: "KoreanFont";
  user-select: none;
}
#myCanvas{
  width:100%;
  height:100%;
  background-color: #eee;
}


@font-face {
  font-family: "KoreanFont";
  src: url(fonts/NamunBarunGothic.otf) format("opentype");
}

@font-face {

}

:root {
  --color0: white;
  --color1: #fbfbf5;
  --color2: #f8f7e7;
  --color3: #faf7d7;
  --color4: #fff9bf;
  --color5: #fff59c;
  --none: rgba(255,255,255,0);
  --light-border : #e0e0e0;
}